<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> welcome to my about page </h2>
    <img src="../images/emmanuel.jpg" style="display: 10%; width: 15%;" alt="">
    <hr>
    <h2> <strong>  <u> skills</u>  </strong> </h2>
    <ul>
        <li>God fearing </li>
        <li>10 years experienced programmer</li>
        <li> good listener and attention to details </li>
        <li>ready to unlearn and relearn to meet demands of any job</li>
    </ul>
    <hr>
     <h2><p> <u> work Proficiency</u> </p></h2>
    <ol>
        <li>program manager</li>
        <li>data analyst</li>
        <li>senior Dev progammer html and css</li>
        <ul>
            <li>nhub Nigeria </li>
            <li> Nitda</li>
        </ul>
    </ol>
    <h4> this is my weekly schedule</h4>
    <table>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
        </tr>
        <tr>
            <td>5am</td>
            <td>7am</td>
            <td>10pm</td>
        </tr>
        <tr>
            <td> walk </td>
            <td>excersie</td>
            <td>quiet time</td>
        </tr>
    </table>
        
</body>
</html>